#abdullah_page11_vbg {

    width: 23%;
    height: 10%;
    top: 1%;
    left: 14%;
}
#abdullah_page11_vbg:hover {

    background-image: url("Abdullah/page11/VBG.jpg");
    width: 40%;
    height: 18%;
    top: 0%;
    left: 11%;
  }
