#abdullah_page10_feuille {

    width: 23%;
    height: 10%;
    bottom: 0%;
    left: 34%;
}
#abdullah_page10_feuille:hover {

    background-image: url("Abdullah/page10/feuilledarbre.jpg");
    width: 40%;
    height: 10%;
    bottom: 0%;
    left: 30%;
  }
