#community{
    width: 20%;
    height: 5%;
    top: 40%;
    left: 30%;
}
#community:hover{
  background-image: url("Abdullah/page1/community_volunteer.jpg");
    width: 50%;
    height: 13%;
    top: 37%;
    left: 19%;

}
#promoteurs{
    width: 21%;
    height: 5%;
    top: 54%;
    right: 9%;
}
#promoteurs:hover{
    background-image: url("Abdullah/page1/promoteur_sante.jpg");
    width: 50%;
    height: 17%;
    top: 54%;
    right: 2%;

}
#unhcr{
    width: 22%;
    height: 5%;
    bottom: 25%;
    left: 2%;
}
#unhcr:hover{
    background-image: url("Abdullah/page1/UNHCR.jpg");
    width: 50%;
    height: 20%;
    bottom: 20%;
    left: 2%;
}
