#kashka_page15_douches{
    width: 28%;
    height: 19%;
    top: 1%;
    left: 7%;
}
#kashka_page15_douches:hover{
    background-image: url("Kashka/page15/toilettes.jpg");
    width: 43%;
    height: 19%;
    top: 1%;
    left: 7%;
}
