#kashka_page12_eau{
    width: 14%;
    height: 5%;
    bottom: 21%;
    left: 7%;
}
#kashka_page12_eau:hover{
    background-image: url("Kashka/page12/eau.jpg");
    width: 50%;
    height: 11%;
    bottom: 21%;
    left: 5%;
}
