.wrapper-bd {
  height: 1400px;
  min-width: 100vw;
  background-color: white;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;

}
.img-absolute{
  position: absolute
}
.popup {
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    // background-color: blue;
    background-position: center;
}

.image-popup{
  position: relative;

}

#community{
    width: 200px;
    height: 40px;
    top: 449px;
    left: 330px;
}
#community:hover{
  background-image: url("community_volunteer.jpg");

    width: 700px;
    height: 150px;
    top: 425px;
    left: 150px;

}
#promoteurs{
    width: 200px;
    height: 40px;
    top: 644px;
    right: 110px;
}
#promoteurs:hover{
    background-image: url("promoteur_sante.jpg");
    width: 500px;
    height: 250px;
    top: 585px;
    right: 74px;

}
#unhcr{
    width: 200px;
    height: 40px;
    bottom: 300px;
    left: 47px;
}
#unhcr:hover{
    background-image: url("UNHCR.jpg");
    width: 500px;
    height: 250px;
    bottom: 179px;
    left: 35px;

}
