      <%= image_tag("Abdullah/intro/Abdullah_demande d_asile.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <div class="popup popup-abdullah" id="statut"></div>
      <div class="popup popup-abdullah" id="promoteurs"></div>
      <div class="popup popup-abdullah" id="unhcr"></div>
      <%= link_to abdullah_page1_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
