<!-- <div class="wrapper-bd">
    <div class="img-absolute">

      <div class="arrow-left"></div> -->
      <%= image_tag("Abdullah/page4/Abdullah_page4.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <div class="popup popup-abdullah" id="statut"></div>
      <div class="popup popup-abdullah" id="promoteurs"></div>
      <div class="popup popup-abdullah" id="unhcr"></div>
      <%= link_to abdullah_page5_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
