<!-- <div class="wrapper-bd">
    <div class="img-absolute">

      <div class="arrow-left"></div> -->
      <%= image_tag("Abdullah/page10/Abdullah_page10.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <div class="popup popup-abdullah" id="abdullah_page10_feuille"></div>

      <%= link_to abdullah_page11_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
