<!-- <div class="wrapper-bd">
    <div class="img-absolute">

      <div class="arrow-left"></div> -->
      <%= image_tag("Abdullah/Abdullah_page12.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <%= link_to abdullah_page13_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
