    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Des éléments intéractifs sont cachés tout au long de la BD. Ils peuvent être soulignés ou bien dissimulés au sein de l'histoire. <br> Ils vous donneront des éléments pour mieux comprendre l'histoire, le contexte et la situation locale ou vous renvoyer vers des ressources. <br> Pour les découvrir il suffit de passer votre souris au dessus de l'élement ! <br> Bonne lecture et bonnes recherches :)
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
