    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Interactive elements are hidden throughout the comic. They can be underlined or else hidden within the story. <br> They will give you elements to better understand the history, the context and the local situation or refer you to resources. <br> To discover them, just hover your mouse over the element! <br> Happy reading and good research :)
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
