
  <div class="footer">
    <div class="row">
      <div class="contact-form col-md-4">
      </div>
      <div class="row col-md-8">
        <div>
          <p class="copyright">Copyright : <strong>Bertille De Salins</strong>, Paris, 2021. Tous droits réservés. </p>
                  <p>Site réalisé par <a href="https://www.linkedin.com/in/baptiste-chebassier-74a116159/" target="blank"> Baptiste Chebassier</a></p>


        </div>
<!--         <div class="grow"></div>
        <p>Site réalisé par <a href="https://www.linkedin.com/in/baptiste-chebassier-74a116159/" target="blank"> Baptiste Chebassier</a></p>
 -->
      </div>

    </div>
  </div>
