<div class="wrapper">
  <div class="container">
      <%= image_tag("a_propos.jpg", class: "image-apropos") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>
<!--       <%= link_to kashka_page2_path  do %>
        <%#= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %> -->
  </div>
</div>
