<div class="wrapper">
  <div class="row">
    <%= link_to next_path, class: "col-md-4" do %>
        <div class="portrait" id="Kashka">

       </div>

    <% end %>
    <%= link_to abdullah_intro_path, class: "col-md-4" do %>
      <div class="portrait" id="Abdullah">

      </div>
    <% end %>
    <%= link_to next_path, class: "col-md-4" do %>
      <div class="portrait" id="Anna">

      </div>
    <% end %>
  </div>
</div>
