<div class="wrapper-bd">
    <div class="img-absolute">
      <%= image_tag("Abdullah_page1_testbapt.jpg", class: "image-popup") %>
      <div class="popup" id="community"></div>
      <div class="popup" id="promoteurs"></div>
      <div class="popup" id="unhcr"></div>

    </div>

</div>
