<div class="wrapper-bd">
    <div class="img-absolute">

      <div class="arrow-left"></div>
      <%= image_tag("Abdullah_page1_testbapt.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>
      <%= link_to root_path  do %>
        <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>

      <div class="popup popup-abdullah" id="community"></div>
      <div class="popup popup-abdullah" id="promoteurs"></div>
      <div class="popup popup-abdullah" id="unhcr"></div>


    </div>

</div>
