#en_flowmonitoring {
    width: 20%;
    height: 3%;
    top: 28.8%;
    right: 9%;
}
#en_flowmonitoring:hover {
  border: unset;
  background-color: unset;
  }
#en_carte {
    width: 20%;
    height: 6%;
    top: 61.8%;
    right: 11%;
}
#en_carte:hover {
    background-image: url(en/Kashka/intro/Kashka_intro_carte1.jpg);
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    left: unset;
    border: unset;
  }

#en_missing-migrants {
    width: 20%;
    height: 3%;
    top: 26%;
    right: 9%;
}
#en_missing-migrants:hover {
  border: unset;
  background-color: unset;
  }

#en_depart-lybie {
    width: 20%;
    height: 7%;
    bottom: 25%;
    right: 11%;
}
#en_depart-lybie:hover {
    background-image: url(en/Kashka/intro/Kashka_intro_carte2.jpg);
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    left: unset;
    border: unset;
  }
#en_nationalites-iles {
    width: 20%;
    height: 7%;
    bottom: 17%;
    right: 11%;
}
#en_nationalites-iles:hover {
    background-image: url(en/Kashka/intro/Kashka_intro_carte3.jpg);
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    left: unset;
    border: unset;
  }
