#en_kashka_page2_scroll{
    width: 90%;
    height: 33%;
    bottom: 0%;
    left: 0%;
    background-color: unset;
}
#en_kashka_page2_scroll:hover{
    background-image: url("en/Kashka/page2/Kashka_page2_scroll.jpg");
    width: 127%;
    height: 34%;
    bottom: 0%;
    left: -13%;
    background-color: unset;
    border: unset;

}
