.alert {
    margin-right: 10px;
    position: fixed;
    top: 130px;
    right: 16px;
    z-index: 1000;
    font-family: 'Akzidenz-Grotesk-Medium';
}

.alert-warning {
    color: black;
    background-color: white;
    border-color: black;
}
