body {
  background-color: white;
}
.wrapper-bd {


  background-color: white;

  display: flex;
  justify-content: center;

}
.img-absolute{
  position: absolute;
  margin-top: 30px;
  margin-bottom: 30px;
}
.image-popup{
  position: relative;
  width: 90%;
  margin-left: 5%;
}
.arrow-right {
      width: 5%;
    position: absolute;
    right: 0px;
    bottom: 10px;

}
.arrow-right:hover {
      width: 6%;
      right: -1%;

}
.arrow-left {
  width: 5%;

}
