body {
  background-color: white;
}
.wrapper-bd {


  background-color: white;

  display: flex;
  justify-content: center;

}
.img-absolute{
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.image-popup{
  position: relative;
  width: 90%;
  margin-left: 5%;
}
.arrow-right {
      width: 5%;
    position: absolute;
    right: 0px;
    bottom: -5%;
    z-index: 6;

}
.arrow-right:hover {
      width: 6%;
      right: -1%;

}
.arrow-left {
    width: 5%;
    position: absolute;
    left: 0px;
    bottom: -5%;
    z-index: 6;
}
.arrow-left:hover {
    width: 6%;
    left: -1%;
}

.page-number {
    width: 10%;
    position: absolute;
    left: 49%;
    z-index: 6;
}
.page-number p {
  font-size: 20px;
}
.page-number-anna p {
  color: 20px;
}

.page-number-anna p {
  color: #03063d;
}
