#chios {
    width: 20%;
    height: 5%;
    top: 41%;
    left: 33%;
}
#chios:hover {
    background-image: url(Anna/intro/chios.jpg);
    width: 50%;
    height: 50%;
    top: 37%;
    right: 1%;
    left: unset;
  }

#kos {
    width: 20%;
    height: 5%;
    top: 41%;
    left: 33%;
}
#kos:hover {
    background-image: url(Anna/intro/Kos.jpg);
    width: 50%;
    height: 50%;
    top: 37%;
    right: 1%;
    left: unset;
  }
#lesbos {
    width: 20%;
    height: 5%;
    top: 41%;
    left: 33%;
}
#lesbos:hover {
    background-image: url(Anna/intro/lesbos.jpg);
    width: 50%;
    height: 50%;
    top: 37%;
    right: 1%;
    left: unset;
  }

#samos {
    width: 20%;
    height: 5%;
    top: 41%;
    left: 33%;
}
#samos:hover {
    background-image: url(Anna/intro/samos.jpg);
    width: 50%;
    height: 50%;
    top: 37%;
    right: 1%;
    left: unset;
  }
