#chios {
width: 15%;
    height: 15%;
    bottom: 15%;
    left: 36%;
}
#chios:hover {
    background-image: url(Anna/intro/chios.jpg);
    width: 50%;
    height: 50%;
    top: 37%;
    right: 1%;
    left: unset;
  }

#kos {
    width: 14%;
    height: 15%;
    bottom: 15%;
  right: 18%;
}
#kos:hover {
    background-image: url(Anna/intro/Kos.jpg);
    width: 50%;
    height: 50%;
    top: 37%;
    right: unset;
    left: 1%;
  }
#lesbos {
    width: 14%;
    height: 15%;
    bottom: 15%;
    left: 20%;
}
#lesbos:hover {
    background-image: url(Anna/intro/lesbos.jpg);
    width: 50%;
    height: 50%;
    top: 37%;
    right: 1%;
    left: unset;
  }

#samos {
    width: 14%;
    height: 15%;
    bottom: 15%;
    right: 33%;
}
#samos:hover {
    background-image: url(Anna/intro/samos.jpg);
    width: 50%;
    height: 50%;
    top: 37%;
    right: unset;
    left: 1%;
  }
