#anna_page3_gif {
    width: 90%;
    height: 33%;
    top: 33%;
    left: 05%;
}
#anna_page3_gif:hover {
    background-image: url(Anna/page3/marche.gif);
    width: 90%;
    height: 34%;
    top: 33%;
    border: unset;
    left: 05%;
  }

#anna_page3_V2 {
    width: 90%;
    height: 33%;
    bottom: 0%;
    left: 05%;
}
#anna_page3_V2:hover {
    background-image: url(Anna/page3/Anna_page3_V2.jpg);
    width: 90%;
    height: 100%;
    bottom: 0%;
    left: 05%;
    border: none;
  }
