#anna_page7 {
    width: 16%;
    height: 7%;
    bottom: 7%;
    right: 22%;
}
#anna_page7:hover {
    background-image: url(Anna/page7/fonds_ue.jpg);
    width: 90%;
    height: 100%;
    bottom: 0%;
    left: 05%;
    border: none;
  }
