#anna_page7 {
    width: 16%;
    height: 7%;
    bottom: 7%;
    right: 22%;
}
#anna_page7:hover {
    background-image: url("Anna/page7/fonds_ue.jpg");
    width: 50%;
    height: 30%;
    bottom: 17%;
    left: 19%;
  }
