<!-- <div class="wrapper-bd">
    <div class="img-absolute">

      <div class="arrow-left"></div> -->
      <%= image_tag("Kashka/intro/Kashka_intro.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <a href="https://migration.iom.int/europe?type=arrivals" target="blank">
        <div class="popup popup-abdullah" id="flowmonitoring"></div>
      </a>
      <a href="https://missingmigrants.iom.int/region/mediterranean" target="blank">
        <div class="popup popup-abdullah" id="missing-migrants"></div>
      </a>
      <div class="popup popup-kashka" id="carte"></div>
      <div class="popup popup-kashka" id="depart-lybie"></div>
      <div class="popup popup-kashka" id="nationalites-iles"></div>
      <%= link_to kashka_page1_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
