      <%= image_tag("Kashka/page12/Kashka_page12.jpg", class: "image-popup") %>
      <div class="popup popup-kashka" id="kashka_page12_eau"></div>

      <%= link_to kashka_page13_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
