#en_abdullah_page16_community_leader {

    width: 23%;
    height: 10%;
    bottom: 20%;
    right: 23%;
}
#en_abdullah_page16_community_leader:hover {

    background-image: url("en/Abdullah/page16/community_leader.jpg");
    width: 43%;
    height: 13%;
    bottom: 20%;
    right: 10%;
  }
