#en_abdullah_page2_avant {

    background-image: url("en/Abdullah/page2/Abdullah_page2_avant.jpg");
    width: 100%;
    height: 31%;
    top: 0%;
    left: -1%;
}
#en_abdullah_page2_avant:hover {

    background-image: url("en/Abdullah/page2/Abdullah_page2_apres.jpg");
    width: 100%;
    height: 31%;
    top: 0%;
    left: -1%;
    border: none;
}

#en_armonia {

  width: 21%;
    height: 5%;
    top: 44%;
    left: 9%;
}
#en_armonia:hover {

    background-image: url("en/Abdullah/page2/Armonia_texte.jpg");
    width: 40%;
    height: 15%;
    top: 40%;
    left: 7%;
}

#en_banana-house {

    width: 21%;
    height: 8%;
    left: 12%;
    bottom: 13%;
}
#en_banana-house:hover {

    background-image: url("en/Abdullah/page2/banana_house_texte.jpg");
    width: 40%;
    height: 24%;
    left: 6%;
    bottom: 9%;
}

#en_medequaliteam {

    width: 14%;
    height: 8%;
    top: 67%;
    right: 9%;
}
#en_medequaliteam:hover {

    background-image: url("en/Abdullah/page2/medequaliteam_texte.jpg");
    width: 36%;
    height: 11%;
    top: 67%;
    right: 6%;
}

#en_refugee4refugees {

    width: 15%;
    height: 9%;
    top: 53%;
    left: 44%;
}
#en_refugee4refugees:hover {

    background-image: url("en/Abdullah/page2/refugee4refugees_texte.jpg");
  width: 36%;
    height: 14%;
    top: 53%;
    left: 33%;
}

#en_samosvolunteers {

    width: 31%;
    height: 27%;
    bottom: 7%;
    left: 41%;
}
#en_samosvolunteers:hover {

    background-image: url("en/Abdullah/page2/samosvolunteers_texte.jpg");
    width: 40%;
    height: 14%;
    bottom: 9%;
    left: 36%;
}

#en_stillrise {
  width: 21%;
    height: 11%;
    top: 63%;
    left: 7%;
}
#en_stillrise:hover {

    background-image: url("en/Abdullah/page2/still i rise_texte.jpg");
    width: 40%;
    height: 16%;
    top: 63%;
    left: 5%;
}
