#en_abdullah_page6_aide {

    width: 23%;
    height: 10%;
    bottom: 5%;
    left: 7%;
}
#en_abdullah_page6_aide:hover {

    background-image: url("en/Abdullah/page6/aide90euros.jpg");
    width: 40%;
    height: 10%;
    bottom: 5%;
    left: 5%;
  }
